/*ヘッダー*/
.site-header {
  padding: 1vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: #f5f3f2;
  .top-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .top-logo {
      width: 10vw;
      margin-right: 5vw;
      .racook-logo {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
      
    }
    .search-form {
      width: 35vw;
      height: 5vh;
      margin-right: 10vw;
      display: flex;
      .input-box {
        width: 35vw;
        height: 40px;
        padding-left: 10px;
      }
      .search-button {
        width: 50px;
        height: 5vh;
        cursor: pointer;
      }      
    }
    .list {
      width: 200px;
      height: 5vh;
      list-style: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .up-button {
        margin-left: 10px;
        font-size: 1vw;
        text-decoration: none;
      }
      .down-button {
        margin-left: 10px;
        font-size: 1vw;
        text-decoration: none;
      }
    }
  }
  .second-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    .category {
      width: 60vw;
      height: 4vh;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      border: 1px solid gray;
      position: relative;
      .dropdown-button {
      }
    }
    .right-content {
      width: 10vw;
      height: 4vh;
      margin-left: 20px;
      display: flex;
      .post-button {
        padding: 10px;
        font-size: 1vw;
        color: brown;
        background-color: orange;
        border: solid 1px;
        border-radius: 5px;
        text-decoration: none;
      }
    }
  }
}

/*カテゴリーボタン*/
.dropdown-list {
  height: 15px;
  width: 100px;
  margin: 0 10px 10px 0;
  list-style: none;
}
.rank-list {
  height: 15px;
  width: 150px;
  margin: 0 10px 10px 0;
  list-style: none; 
}

/*カテゴリー三角アイコン*/

.arrow_u {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.arrow_u:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  transform: rotate(45deg);
}
.arrow_o {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.arrow_o:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(-45deg);
}

/*ドロップダウンウィンドウ*/
.dropdown-body {
  padding: 5px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  overflow: hidden;
  top: 32px;
  left: 0;
  position: absolute; /* メニュー部分は絶対配置させます */
  flex-wrap: wrap;
}
.hidden {
  display: none;
}
.dropdown-button-2 {
  position: relative;
}
