/*メイン*/
.main {
  padding: 5vh 15vw 0;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-color: #f5f3f2;
}

/*上部コンテンツ*/
.up-contents {
  display: flex;
  justify-content: center;
}
.mein-content {
  height: 60vh;
  width: 70%;
  margin-right: 2vw;
  background: #fffcf4;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;

}
.mein-content>.title {
  margin-bottom: 10px;
}

/*右側サブコンテンツ*/
.right-side {
  width: 30%;
  height: 300px;
  background-color: antiquewhite;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;

}
.best-ranking {
  list-style: none;
  padding-left: 0;
}

/*レシピ一覧表示部分*/
.recipe-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}
.recipe-contents>.title {
  font-size: 3vh;
  margin-bottom: 2vh;
}
.recipe-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fffcf4;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;
}
.recipe-lists>.lists {
  width: 20vw;
  padding: 1vw;
  list-style: none;
}
.recipe-img-content {
  position: relative;
}
.recipe-img {
  width: 20vw;
  height: 24vh;
}
.recipe-info {
  display: flex;
  flex-direction: column;
}
.recipe-name {
  font-size: 2vh;
}
.user-name{
  font-size: 1vh;
}