@mixin frame {
  background: #fffcf4;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;
}

h2 {
  font-size: 2vw;
}

.main {
  padding: 5vh 15vw 0;
  min-height: 80vh;
  background-color: #f5f3f2;
  .center {
    background-color: white;
    padding: 1vh 5vw;
    .title-section {
      margin-bottom: 2vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 4vh;
      }
      .button-list {
        display: flex;
        align-items: center;
        .like-contents {
          display: flex;
          margin-right: 2vw;
          .like-button {
            padding: 5px;
            font-size: 15px;
            border: rgb(243, 167, 244) 2px solid;
            border-radius: 15px;
            .likebtn {
              text-decoration: none;
            }
          }
          .unlike-button {
            padding: 5px;
            font-size: 15px;
            border: rgb(243, 167, 244) 2px solid;
            background-color: rgb(243, 167, 244);
            border-radius: 15px;
            .likebtn {
              text-decoration: none;
            }
          }
          .like-count {
            padding: 5px;
            font-size: 15px;
            border: rgb(243, 167, 244) 2px solid;
            background-color: rgb(243, 167, 244);
            border-radius: 15px;
          }
          p {
            padding: 10px 5px 0;
            color:slategray;
            text-decoration: none;
          }
        }
        .edit-btn, .delete-btn {
          padding: 5px;
          margin-left: 2vw;
          font-size: 15px;
          border: rgb(85, 194, 87) 2px solid;
          background-color: rgb(85, 194, 87);
          border-radius: 15px;
          .btn {
            font-size: 15px;
            text-decoration: none;
          }
        }
      }
    }
    .image-section {
      margin-bottom: 2vh;
      display: flex;
      justify-content: space-around;
      .dish-image {
        width: 50%;
        .dish-img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .dish-catchcopy {
        width: 30vw;
        margin:2vh 1vw;
        .catchcopy-title {
          margin-bottom: 2vh;
          display: flex;
          justify-content: space-between;
          .catchcopy {
          }
          .cook-name {
            display: flex;
            align-items: flex-end;
            color: dimgray;
            font-size: 1vw;
            .user-name {
            }
          }
        }
      }
      .catchcopy-text {
        background: #fffcf4;
        border-radius :8px;
        box-shadow :0px 0px 5px silver;
        padding: 0.5em 0.5em 0.5em 2em;
        font-size: 20px;
        flex-wrap: wrap;
      }
    }
    .seasoning-ingredient-section {
      margin-bottom: 2vh;
      display: flex;
      justify-content: space-between;
      .contents {
        padding: 0 2vw;
        width: 34vw;
        .title {
          margin-bottom: 2vh;
        }
        .list-group {
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex-wrap: wrap;
          @include frame;
          .lists {
            padding: 1vh;
            font-size: 1vw;
          }
        }
      }
    }
    .process-section {
      margin-bottom: 3vh;
      .process-title {
        text-align: center;
      }
      .process-list {
        padding: 0.5em 0.5em 0.5em 2em;
        list-style: none;
        @include frame;
        margin: 1vh 2vw 0;
        li {
          margin-bottom: 1vh;
          padding: 1vh;
          flex-wrap: wrap;
        }
      }
    }
    .point-section {
      margin-bottom: 3vh;
      padding: 1vh auto;
      flex-wrap: wrap;
      .point-title {
        text-align: center;
      }
      .point-text {
        margin: 1vh 2vw;
        flex-wrap: wrap;
        @include frame;
      }
    }
    .comment-section {
      width: 40vw;
      margin: 0 auto;
      .comment-title {
        text-align: center;
        margin-bottom: 2vh;
      }
      .comment-content {
        @include frame;
        .comment-lists {
          display: flex;
          flex-direction: column;
          list-style: none;
          li {
            margin: 10px 0;
            font-size: 1vw;
          }
          p {
            margin: 1vh;
            white-space: pre-wrap;
          }
          .comment-user, .comment-date{
            color: dimgray;
            font-size: 10px;
          }
        }
        .comment-form {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          .form {
            height: 10vh;
            width: 25vw;
            margin: 0;
            padding: 8px;
            border-radius :8px;
            box-shadow: none;
            border: solid silver 1px;
          }
          .btn {
            height: 3vh;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
